*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: "arial";
}

/* Smooth Scroll  */
html {
    scroll-behavior: smooth;
}

/* Hide scrollbar */
body::-webkit-scrollbar {
    display: none;
}

/* Header starts */
header{
    height: 4rem;
    width: 100%;
    background: #e0f7fa;
    border-bottom: 1px solid #000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
    position: fixed;
    z-index: 100;
}
header .name{
    font-size: 2.5rem;
}
header nav{
    font-size: 1.5rem;
}
header nav a{
    margin-right: 2rem;
    text-decoration: none;
    color: #000;
}
header nav a:hover{
    color: #ffa500;
}
header .hamburger{
    display: none;
}
/* Header ends */

/* Search Bar starts */
.searchBar{
    padding-top: 5rem;
    height: 28vh;
    background: linear-gradient(to bottom, #ffccbc, rgba(255, 204, 188, 0));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.searchBar .searchBox{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    height: 3rem;
    width: 40rem;
    border-radius: 25px;
    display: flex;
}
.searchBar .searchBox input{
    height: 100%;
    border-radius: 25px 0 0 25px;
    padding-left: 3rem;
    width: 92%;
    border: none;
    font-size: 1.5rem;
}
.searchBar .searchBox input:focus{
    border: none;
    outline: none;
}
.searchBar .searchBox .searchIcon{
    height: 100%;
    width: 8%;
    border-radius: 0 25px 25px 0;
}
.searchBar .searchBox .searchIcon:hover{
    background-color: #dbdbdb;
}
.searchBar .searchBox .searchIcon i{
    text-align: center;
    font-size: 1.5rem;
    padding: 0.7rem 0.2rem 0 0.6rem;
}
/* Search Bar ends */

/* Main section starts */
.main{
    min-height:80vh;
    background: #000;
    background-image: url("https://images.pexels.com/photos/1647120/pexels-photo-1647120.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .content{
    width: 90%;
    height: 90%;
    backdrop-filter: blur(10px);
    border-radius: 5rem;
    /* border: 1px solid black; */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    color: white;
}
.main .content #line1,
.main .content #line2
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 7rem;
}
.main .content .cityName{
    font-size: 3rem;
}
.main .content #line1 img{
    height: 10rem;
    width: 10rem;
}
.main .content #line1 div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .content #line1 div div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 3rem;
}
.main .content #line1 p{
    font-size: 2rem;
}
.main .content #line2{
    margin-top: 5rem;
}
.main .content #line2 div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main .content #line2 p{
    padding: 2rem 0;
    font-size: 2rem;
}
/* Main section ends */

/* toggle button starts */
.switch{
    display: flex;
    align-items: center;
    padding: 2rem 0 0 0;
}
.toggle{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin : 0 0 0 2rem;
}
.toggle #myToggle {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}
#myToggle:checked + .slider {
    background-color: #4caf50;
}
#myToggle:checked + .slider:before {
    transform: translateX(26px);
}
/* Toggle button ends  */

/* About section starts  */
.about {
    min-height: 100vh;
    background-color: #f9f9f9;
    padding: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
    margin: 1.25rem;
}
.about img{
    background-size: contain;
    height: 20vh;
}
.about h2 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 0.625rem;
    text-align: center;
}
.about h3 {
    font-size: 2rem;
    color: #555;
    margin-top: 3rem;
    margin-bottom: 0.625rem;
}
.about p {
    font-size: 1.5rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 0.9375rem;
}
.about ul {
    list-style-type: disc;
    padding-left: 1.25rem;
}
.about li {
    font-size: 1.3rem;
    margin-bottom: 0.625rem;
    color: #444;
}
/* About section ends */

/* Footer section starts  */
.footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 3rem 0 1rem 0;
    text-align: center;
}
.footerContent {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 4rem;
}
.footerContent .logo{
    width: 30rem;
}
.footerContent .logo h2{
    margin-bottom: 1.5rem;
    font-size: 3rem;
}
.footerContent .logo p{
    font-size: 1.5rem;
}
.footerContent .quickLinks {
    width: 20rem;
    text-align: left;
}
.footerContent .quickLinks h3{
    font-size: 2rem;

}
.footerContent .quickLinks ul{
    list-style: none;
    font-size: 1.2rem;
    margin-top: 1rem;
}
.footerContent .quickLinks li{
    margin-top: 0.5rem;
}
.footerContent .quickLinks li a{
    text-decoration: none;
    color:#e0f7fa;
}
.footerContent .quickLinks li a i{
    padding-right: 0.5rem;
}
.footerContent .socialLinks{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerContent .socialLinks a{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    display: flex;
    margin-right: 0.5rem;
    background: #ecf0f1;
    text-decoration: none;
    align-items: center;
    justify-content: center; 
}
.footerContent .socialLinks a{
    font-size: 1.6rem;
    color:#2c3e50
}
.footer .credit{
    padding-top: 0.4rem;
    font-size: 1.2rem;
}
.footer .credit a{
    color: #ecf0f1;
    text-decoration: none;
}
.footer .credit a:hover,
.footerContent .quickLinks li a:hover{
    color: #ffa500;
}
.footerContent .socialLinks a:hover{
    background: #ffa500;
}
.footerBottom{
    display: flex;
    flex-direction: column;
}
.footerBottom a{
    color:#ecf0f1;
    text-decoration: none;
    
}
/* Footer section ends */


/* Responsive footer */
/* Responsive for screens less than 750px */
@media (max-width: 1000px) {
    .main .content .cityName {
        font-size: 2.5rem;
    }
    .main .content #line1 p,
    .main .content #line2 p {
        font-size: 1.5rem;
    }
    .about h2 {
        font-size: 2.5rem;
    }
    .about h3 {
        font-size: 1.8rem;
    }
    .about p {
        font-size: 1.2rem;
    }
    .footerContent {
        flex-direction: column;
    }
    .footerContent .logo,
    .footerContent .quickLinks,
    .footerContent .socialLinks {
        width: 60%;
        text-align: center;
    }
    .footerContent .logo p{
        margin-bottom: 1rem;
        margin-top: -1rem;
    }
    .footerContent .quickLinks {
        margin-top: 2rem;
    }
    .footerContent .socialLinks {
        margin: 3rem 0 -1rem 0;
    }
}
/* Responsive for screens less than 750px */
@media (max-width: 750px) {
    header {
        padding-left: 2rem;
    }
    header nav{
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        z-index: 101;
        display: none;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        background-color: #e0f7fa;
        position: absolute;
        transition: opacity 0.3s ease;
    }
    header nav a{
        height: 5rem;
        width: 60%;
        text-align: center;
        background: #666;
        color: #fff;
        border-radius: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: -10rem 0;
    }
    header .hamburger{
        display: flex;
        position: relative;
        right: -3rem;
        font-size: 1.5rem;
        z-index: 102;
        cursor: pointer;
    }
    header .active{
        display: flex;
    }
    .main{
        height: 100vh;
    }
    .main .content .cityName {
        font-size: 4rem;
        text-align: left;
    }
    .main .content #line1,
    .main .content #line2 {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 2.2rem;
    }
    .main .content #line1 div{
        margin-top: 3rem;
    }
    .main .content #line1 div ,
    .main .content #line2 div{
        flex-direction: row;
    }
    .main .content #line1 div div{
        margin-left: 0;
        margin-top: -1rem;
    }
    .main .content #line1 p,
    .main .content #line2 p {
        font-size: 2rem;
    } 
    .main .content #line2{
        margin-top: -2rem;
    }
    .main .content #line2 img{
        height: 10rem;
        width: 10rem;
        padding: 2.5rem;
    }
    .about h2 {
        font-size: 2rem;
    }
    .about h3 {
        font-size: 1.5rem;
    }
    .footerContent .logo,
    .footerContent .quickLinks,
    .footerContent .socialLinks {
        width: 80%;
        text-align: center;
    }
}

@media (max-width: 700px){
    .searchBar .searchBox{
        width: 90%;
    } 
    .searchBar .searchBox .searchIcon i{
        font-size: 1rem;
        padding-top: 0.9rem;
    }
    .searchBar .searchBox input{
        font-size: 1rem;
        width: 90%;
    }
    .searchBar .searchBox .searchIcon{
        width: 10%;
    }
    .main .content{
        height: 70%;
    }
    .main .content #line1,
    .main .content #line2{
        margin-left: 0;
    }
    .main .content .cityName{
        font-size: 2.5rem;
        margin: 2rem 0 -2rem 2rem;
    }
    .main .content img{
        height: 7rem;
        width: 7rem;
    }

}
/* Responsive footer ends */


/* Extras */
.back{
    text-decoration: none;
    color: #e0f7fa;
}