*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: "arial";
}

/* Header starts */
header{
    height: 4rem;
    width: 100%;
    border-bottom: 1px solid #000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
    position: fixed;
}
header .name{
    font-size: 2.5rem;
}
header nav{
    font-size: 1.5rem;
}
header nav a{
    margin-right: 2rem;
    text-decoration: none;
    color: #000;
}
header nav a:hover{
    color: orange;
}
/* Header ends */

/* Search Bar starts */
.searchBar{
    padding-top: 5rem;
    height: 20vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar .searchBox{
    background-color: greenyellow;
    height: 3rem;
    width: 40rem;
    border-radius: 25px;
    display: flex;
}
.searchBar .searchBox input{
    height: 100%;
    border-radius: 25px 0 0 25px;
    padding-left: 3rem;
    width: 92%;
    border: none;
    font-size: 1.5rem;
}
.searchBar .searchBox input:focus{
    border:none;
    outline: none;
}
.searchBar .searchBox .searchIcon{
    height: 100%;
    width: 8%;
    border-radius: 0 25px 25px 0;
}
.searchBar .searchBox .searchIcon:hover{
    background-color: #000;
}
.searchBar .searchBox .searchIcon i{
    text-align: center;
    font-size: 1.5rem;
    padding: 0.7rem 0.2rem 0 0.6rem;
}
/* Search Bar ends */

